<form action="/login/" method="POST">
    
    <div class="container">
      <label for="uname"><b>Nome do usuario</b></label>
      <input type="text" placeholder="Informe o nome do usuario" name="uname" required>
  
      <label for="psw"><b>Senha</b></label>
      <input type="password" placeholder="Informe a senha" name="password" required>
  
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Lembrar-me
      </label>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancelar</button>
      <span class="psw">Esqueceu <a href="#">a senha?</a></span>
    </div>
  </form>