<form action="/cadastrar/" method="POST">
    <div class="container">
      <h1>Cadastro</h1>
      <p>Preencha o cadastro para entrar.</p>
      <hr>
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="informe o Email" name="email" id="email" required>
  
      <label for="psw"><b>Senha</b></label>
      <input type="password" placeholder="Informe a senha" name="password" id="psw" required>
  
      <hr>
  
      <button type="submit" class="registerbtn">Cadastrar</button>
    </div>
  
    <div class="container signin">
    </div>
  </form>