<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-3">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
  border-collapse: collapse;
        }
    </style>
</head>

<body>

    <table>
        <th>
            <tr>
                <th>Sr No</th>
                <th>Nome da Playlist</th>
                <th>Criado por:</th>
                <th>Ação 1</th>
                <th>Ação 2</th>
            </tr>
        </th>
        {% for list in listOfPlaylists %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{list.nameOfPlaylist}}</td>
            <td>{{list.createdBy}}</td>
            <td><a href="{% url 'main:followSystem' list.id %}">Seguir </a>o criador</td>
            <td><a href="{% url 'main:likeSystem' list.id %}">Curtir</a>a Playlist</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'accounts:logout' %}">Logout</a>
</body>

</html>
